* {
  margin: 0;
  padding: 0;
}

.alb {
  margin-top: 5px;
  margin-left: 10px;
  display: block;
  width: 240px;
  height: 60px;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
  color: #fff; background: #005aff;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}

a#or {
  display: block;
  width: 150px;
  height: 50px;
  background: #ffa500;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}

.but {
  display: block;
  outline: none; border: none;
  padding: 10px;
  left: 0; right: 0;
  margin: auto; margin-top: 10px;
  color: white;
  background: #228fff;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #228fff;
}

.but:hover{
  color: #228fff; background: white;
  border: 1px solid #228fff;
  cursor: pointer;
}

.phtwrap{
  max-width: 500px;
  max-height: 500px;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px double lightgray;
  border-radius: 5px;
  padding: 30px;
}

.pht{
  display: block;
  left: 0; right: 0; bottom: 0; top: 0;
  margin: auto; border-radius: 3px;
  box-shadow: 0 0 2px 1px grey;
  max-width: 500px;
  max-height: 500px
}
