* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.one{
  margin-top: 200px;
  transform: scale(3);
}
a#or {
  display: block;
  width: 100vw;
  height: 100vh;
  background: #ffa500;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  font-size: 5vh;
  text-decoration: none;
}

.alb {
  margin-top: 1vh;
  display: block;
  font-family: sans-serif;
  font-size: 4vh;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background: #005aff;
  padding: 2vh;
  width: 70vw;
  text-align: center;
  box-sizing: border-box;
}


.but {
  min-width: 50vw;
  display: block;
  outline: none;
  padding: 1vh;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1vh;
  color: white;
  background: #228fff;
  text-align: center;
  font-size: 3vh;
  font-family: sans-serif;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #228fff;
}
.but:hover{
  color: #228fff; background: white;
  border: 1px solid #228fff;
  cursor: pointer;
}

.phtwrap{
  max-width: 90vw;
  max-height: 70vh;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1vh;
  border: 2px double lightgray;
  border-radius: 5px;
  padding: 5vw;
}
.pht{
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px grey;
  max-width: 80vw;
  max-height: 60vh;
}
